{% extends "base.html" %}

{% block content %}
    <div id="container" class="container">
        <h1>Club's history</h1>
        <p>The Montreal Hockey Club of Montreal, Quebec, Canada was a senior-level men's amateur ice hockey club,
            organized in 1884. They were affiliated with Montreal Amateur Athletic Association (MAAA) and used
            the MAAA 'winged wheel' logo. The team was the first to win the Stanley Cup, in 1893, and subsequently
            refused the cup over a dispute with the Montreal Amateur Athletic Association.The club is variously known
            as 'Montreals', 'Montreal AAA' and 'Winged wheel' in literature.</p>
        <p>The team played in several early ice hockey leagues, including the Amateur Hockey Association of Canada from
            1886 until 1898, winning its championship seven times. The team competed in purely amateur leagues until
            1906.
            After two seasons of playing with professionals, the club left its league, the Eastern Canada Amateur Hockey
            Association to continue playing in amateur competition. It would go on to win the Allan Cup in 1930, the
            successor of the Stanley Cup as the trophy given to Canadian amateur hockey champions. In 1932, the club
            would leave the MAAA association and become the Montreal Royals, eventually becoming a 'semi-professional'
            team in the Quebec Senior Hockey League.</p>
    </div>
{% endblock %}